@import "../components/colors";

form{
    width: 100%;
    justify-content: center;
    text-align: center;
}
label{
    margin: 0;
    padding: 0;
}
input{
    height: 3em;
    width: 60%;
    margin: 0.5em;
}

input[name="commit"]{
    height: 5em;
}

form button{
    margin: 1em 43em 0 .5em;
}